* {
	font-family: 'Pangolin', cursive;
	letter-spacing: 1px;
}
body {
	background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.header {
	background-color: white;
}
.header	 h2{
	text-align: center;
	padding: 25px;

}
.select {
	padding-top:  70px;
}
.weapon-choice input {
	opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.weapon-choice input:hover {
	opacity: 1 ;
	transform: rotate(359deg);
	transition-duration: 400ms;
}
input:focus{
    outline: none;
}

.results {
	padding-top: 50px
}
#playerScore {
	color:green;
}
#computerScore {
	color:red;
}
.right {
	float: right; 
}
.footer {
	background-color: white;
	position: absolute;
    bottom: 0;  
    margin: 0 auto;
}
.footer  a {
	float:left;
	padding: 25px 0 25px 0;
}